node_modules/
.pnpm-store/
.dev/
out/
dist/
.nuxt/
.output/
.data/
public/voice/model.tar.gz*
playwright-report/
test-results/
coverage/
pnpm-lock.yaml
src/renderer/auto-imports.d.ts
src/renderer/components.d.ts
src/shared/data/openings.json
